.ide {
  max-width: 400px;
  min-height: 100px;
  height: fit-content;
  margin-bottom: 10px;
  background-color: $transparent-grey;
  backdrop-filter: blur(12px);
  margin: 5px;
  padding: 10px 20px 10px 20px;
}


.right-col textarea {
  font-family: $source-code;
  resize: none;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ide .code-input {
  background-color: #dadada69;
  border-radius: 4px;
  padding-left: 10px;
  margin: -7px 0 -7px 0;
}

// .ide-button {

// }

.ide .left-col {
  height: fit-content;
  height: 100%;
}

.ide .left-col textarea{
  color: $primary;
  resize: none;
  height: 100%;
}