.ide {
  max-width: 450px;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: $transparent-grey;
  backdrop-filter: blur(12px);
  margin: 5px;
  padding: 10px 20px 10px 20px;
}

.right-col textarea {
  font-family: $source-code;
  font-weight: $normal;
  resize: none;
  width: 1fr;
  padding: 0;
  margin: 0;
}

.ide-button {
  margin-left: auto;
  width: fit-content;
}

.ide .left-col {
  height: 100%
}

.ide .left-col textarea{
  color: $primary;
  resize: none;
  height: 100%;
  width: fit-content;
  overflow: hidden;
}

textarea.code-input {
  width: 45ch;
}