header {
  font-family: $prompt;
  font-weight: $semi-bold;
  color: $white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#top-nav {
  min-height: 65px;
  z-index: 400;
}

header img {
  display: inline-block;
  width: 300px;
  height: 50px;
}
.header-logo {
  display: flex;
  align-items: end;
  width: max-content;
}

/* todo: add column layout and replace widths */

.header-nav {
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  align-items: center;
  z-index: 400;
  padding: 1rem 3rem 0.5rem 3rem;

}

.header-list {
  justify-self: end;
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 2rem;
}

.header a {
  position: relative;
  z-index: 1;
  display: block;
  padding: .4rem 1rem .4rem 1rem;
  border-radius: 24px;
  text-decoration: none;
  color: white;
}

.footer-links li {
  display: flex;
  align-items: center;
  place-content: center;
  justify-content: flex-start;
  gap: 1rem;
}