header {
  font-family: $prompt;
  font-weight: $semi-bold;
  color: $white;
  background-color: $main-grey;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 100%;
}

header img {
  display: inline-block;
  width: 300px;
  height: 50px;
}
.header-logo {
  width: max-content;
}

/* todo: add column layout and replace widths */

.header-nav {
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 0px;
}

.header-list {
  justify-self: end;
  display: flex;
  flex-direction: row;
  width: max-content;
}

.header a {
  position: relative;
  z-index: 1;
  display: block;
  padding: .4rem 1rem .4rem 1rem;
  border-radius: 24px;
  text-decoration: none;
  color: white;
}

.header-list a:hover {
  background-color: black;
}

// .badge {
//   display: inline-flex;
//   justify-content: center;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   background-color: black;
// }

// .dropdown {
//   position: absolute;
//   display: none;
//   background-color: white;
// }
// .dropdown a {
//   color: black;
//   border-bottom: 1px solid #ccc;
//   background-color: white;
// }

// .dropdown li:last-child a {
//   border-radius: 0 0 9px 9px;
// }

// .dropdown a:hover {
//   background-color: lightgray;
// }

// #header-notification:hover .dropdown {
//   display: block;
// }