header {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #DFDFDF;
  background-color: #201F1E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header img {
  width: 300px;
  height: 50px;
}

/* todo: add column layout and replace widths */

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-list {
  display: flex;
  flex-direction: row;
}

.header a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px 20px;
  border-radius: 24px;
  text-decoration: none;
  color: white;
}

.header-list a:hover {
  background-color: black;
}

// .badge {
//   display: inline-flex;
//   justify-content: center;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   background-color: black;
// }

// .dropdown {
//   position: absolute;
//   display: none;
//   background-color: white;
// }
// .dropdown a {
//   color: black;
//   border-bottom: 1px solid #ccc;
//   background-color: white;
// }

// .dropdown li:last-child a {
//   border-radius: 0 0 9px 9px;
// }

// .dropdown a:hover {
//   background-color: lightgray;
// }

// #header-notification:hover .dropdown {
//   display: block;
// }