.products {
  background-color: $main-grey;
  padding-top: 4em;
  padding-bottom: 4em;
}

.product-box {
  align-self: center;
  z-index: 50;
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
  border-radius: 16px;
  height: 250px;
  // width: 250px;
  background-color: $background;
}

.price, .status, .title {
  padding: 1rem;
}

.status {
  font-size: $label;
  text-align: end;
  font-weight: $light;
}

.title {
  font-size: $h5;
  align-self: flex-end;
  margin-right: -130px;
}

.products h2 {
  display: block;
  height: max-content;
  grid-column: 3 / span 8;
}

.products-grid {
  grid-column: 3 / span 8;
}