.prompt {
  display: block;
  max-width: 400px;
  min-height: 100px;
  height: fit-content;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  background-color: $transparent-grey;
  backdrop-filter: blur(12px);
}

.prompt-title {
  margin-bottom: 10px;
}