.prompt {
  z-index: 2;
  max-width: 450px;
  min-height: 100px;
  height: fit-content;
  border-radius: 8px;
  background-color: $transparent-dark-grey;
  backdrop-filter: blur(12px);
  margin: 5px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
}

.prompt ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.hint {
  width: max-content;
  font-family: $source-code;
  color: $primary;
  background-color: $code-bg;
  border-radius: 4px;
  margin: 4px 0 4px 0;
  padding: 4px 8px 4px 8px;
  font-size: small;
  max-width: 100%;
  display: inline-flex;
}

.prompt ul li:first-child {
  padding-left: 0px;
  font-family: $prompt;
  color: $white;
  background: none;
}

.prompt a {
  color: $primary;
}

.prompt a:hover  {
  color: $secondary;
}

.lesson-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  height: 3rem;
}

.level-control-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.7rem;
  align-items: center;
}

.lesson-id {
  margin: 0 10px 0 10px;
}

.prompt-title {
  margin-bottom: 10px;
  margin-top: 5px;
}

.prompt-instruction {
  color: white;
}

code {
  width: fit-content;
  font-family: "Source Code Pro", monospace;
  color: #03DAC6;
  background-color: rgba(19, 18, 19, 0.7450980392);
  border-radius: 4px;
  margin: 4px 0 4px 0;
  padding: 4px 8px 4px 8px;
  font-size: small;
}