.todo {
  padding: 50px 0 50px 0;
  grid-column: 1 / span 12;
}

.todo-left {
  grid-column: 2 / span 5;
  padding: 0 3em 0 0;
}

.todo-right {
  padding-left: 1em;
  grid-column: 7 / span 5;
}

.todo-list-container {
  z-index: 50;
  padding: 40px 20px 20px 20px;
  background-color: $main-grey;
}

.todo-list > .default {
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
  background-color: $secondary;
}

.todo-list > .done {
  color: $white;
  text-decoration: line-through;
  opacity: 20%;
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  margin: 4px 0 4px 0;
  background-color: $background;
}

.create-todo {
  border: 2px solid $transparent;
  margin: 10px 0px 10px 0px;
  padding: 8px;
  text-decoration: none;
  color: $white;
  background-color: $transparent;
  border-radius: 6px;
  width: fit-content;
}

.create-todo:hover {
  background-color: $background;
}

.todo-form {
  display: flex;
  flex-flow: column wrap;
}

.todo-form button {
  border: none;
}

.todo-form button:before {
  content: "+";
  margin-right: 8px;
}

.todo-form > #todo-input {
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  margin: 24px 0 4px 0;
  display: block;
  color: $white;
  background-color: rgba($color: #4e4c4c, $alpha: .42);
}