$primary: #03DAC6;
$transparent-primary: #03dac560;
$secondary: #BB86FC;
$white: #DFDFDF;
$main-grey: #201F1E;
$transparent-grey: gba(21, 20, 20, 0.5);
$background: #131213;
$code-bg: #131213be;
$transparent: #00000000