body {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.center-simple {
  display: grid;
  place-items: center;
}

.grid-12-col {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.center-span-5 {
  grid-column: 5 / span 4;
}

.grid-4-col {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 14px;
  justify-content: center;
}

.grid-2-row {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: end;
}

.grid-2-col {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
}

.grid-2-col-ide {
  display: grid;
  width: 500px;
  grid-template-columns: min-content 1fr;
  column-gap: 0px;
}

.left-col, .right-col {
  height: max-content;
}

.ide .right-col {
  display: grid;
  width: fit-content;
}

.hero .right-col {
  grid-column: 6 / span 5 ;
  text-align: end;
}

.hero {
  background-color: $transparent;
  height: min-content;
  padding-top: 3em;
  padding-bottom: 4em;
  background-image: url('../imgs/homeHero_optimized.jpg');
  background-size: cover;
}

.hero::before {
  content: "";
  background-color: rgba(0,0,0,0.34);
}

.hero-content {
  grid-column: 1 / span 12  ;
}

footer {
  height: 300px;
  padding: 4em 0 4em 0;
  font-family: $prompt;
  font-weight: $semi-bold;
  color: $white;
  background-color: $background;
}

.footer-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer-left {
  grid-column: 3 / span 4;
  display: flex;
  align-items: end;
}

.footer-right {
  grid-column: 7 / span 4;
}

#contact-info {
  display: flex;
  align-items: stretch;
}

.personal-site {
  margin-top: 3em;
}

.product-box .h4 {
  width: max-content;
}

.footer-logo {
  display: flex;
  max-width: 400px;
  align-self: baseline;
  padding-bottom: 5em;
}

footer a {
  position: relative;
  width: fit-content;
  z-index: 1;
  display: block;
  padding: 0.5rem;
  border-radius: 24px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: $primary;
  text-decoration: underline;
}