
// TEMP ======= DELETE ME ========= //
.products {
  height: 1000px;
}


body {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.hero-content {
  width: 80%;;
}

.grid-2-col {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.grid-2-col-ide {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 90%;
}

.left-col, .right-col {
  height: max-content;
}

.hero .right-col {
  text-align: end;
  padding-left: 120px;
}

.hero {
  height: 400px;
  padding: 120px 50px 20px 50px;
}