
.game-zone {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-column: 1 / span 12;
  background-color: #201F1E;
  position: absolute;
  top: 0;
  z-index: 100;
}

.level-zone {
  grid-column: 4 / span 8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  gap: 0.8rem;
}

.level-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-top: 80px;
}

.level-header-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-start;
  padding: 2rem 0 2rem;
  gap: 1rem;
}

#level-game-assets {
  display: flex;
  width: 100%;
  flex: 1 1;
  position: relative;
}

#game-box-start {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  top: 40px;

  background-color: $white;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier( 0.71, 0.07, 0.68, 0.53 );
}

#game-box-start.level-1 {
  background-color: $primary;
  animation: boxIn 400ms ease-in;
}

#game-box-level-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  right: 0;
  top: 40px;
  
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier( 0.71, 0.07, 0.68, 0.53 );
  animation: boxIn 400ms ease-in;
}

#game-box-level-1:hover {
  background-color: $primary;
}

#box-start-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  animation: boxIn 400ms ease-in;
}

#box-start-3 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $primary;
  opacity: 40%;
  transform: translate3d(-35px, 35px, 0);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
    animation: boxIn 400ms ease-in;
}

#box-start-4 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 440px;
  background-color: $primary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(115%);
  opacity: 40%;
}

#box-start-5 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 440px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
}

#game-box-level-6-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  left: -200px;
  top: 40px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(100%);
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-box-level-6-circle:hover {
  transform: scale(110%);
  background-color: $primary;
}

#game-box-level-6-circle:active {
  border-radius: 400px;
  transform: scale(85%);
}


.circle-start-1 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  left: -50px;
  top: 350px;
  border: 39px solid #03DAC6;
  opacity: 40%;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
}
.circle-start-2 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  left: -50px;
  top: 450px;
  border: 39px solid #03DAC6;
  opacity: 60%;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
}
.circle-start-3 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  left: -50px;
  top: 550px;
  opacity: 90%;
  border: 39px solid #03DAC6;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
}
#game-circle-level-3 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  left: -200px;
  top: 550px;
  border: 39px solid #03DAC6;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  transition: transform 550ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-circle-level-3:hover {
  transform: translateY(-155px);
}

#box-start-6 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  top: 900px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 40%;
}
#box-start-7 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  top: 900px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(85%) rotate(60deg);
  opacity: 40%;
}
#box-start-8 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  top: 900px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(65%) rotate(200deg);
  opacity: 40%;
}
#box-start-9 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  top: 900px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(40%);
  opacity: 40%;
}

#game-box-level-4 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 900px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-box-level-4:hover {
  transform: rotate(180deg) scale(40%);
}


// animation: smoothBounce 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate-reverse;
// @keyframes smoothBounce {
//   0% {
//     // transform: translate3d(0, 0 ,0);
//     // transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   33%{
//     transform: translate3d(0px, 0, 0);
//     transform: rotate(0deg);
//   }

//   66% {

//     transform: rotate(180deg);
//   }
  
//   100% {
//     transform: translate3d(360px, 0, 0);
//   }
// }

@keyframes boxIn {
  from {
    filter: blur(14px);
    opacity: 0%;
    transform: scale(110%);
  }
  to {
    filter: blur(0px);
    opacity: 100%;
    transform: scale(100%);
  }
}


#level-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 28px;
  background: #181818;
  border-radius: 7px;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

#level-number-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  height: 28px;

  background: #00605D;
  border-radius: 7px;

  font-weight: 500;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

h3 > code {
  font-family: "Source Code Pro", monospace;
  color: #03DAC6;
  background-color: rgba(19, 18, 19, 0.7450980392);
  border-radius: 4px;
  margin: 4px 0 4px 0;
  padding: 4px 8px 4px 8px;
  font-size: inherit;
}

#level-title {
  text-align: right;
  line-break: strict;
  width: 60%;
  font-size: 30px;
}