
.game-zone {
  height: 125vh;
  width: 100%;
  display: flex;
  background-color: #201F1E;
  position: absolute;
  padding-bottom: 32px;
  padding-right: 96px;
  padding-top: 18px;
  top: 0;
  z-index: 100;
  grid-column: 1 /span 12;
}



.level-zone {
  grid-column: 4 / span 8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  gap: 0.8rem;
  width: 100%;
}

.level-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-top: 40px;
}

.level-header-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-start;
  padding: 2rem 0 2rem;
  gap: 1rem;
}

#level-game-assets {
  display: flex;
  width: 100%;
  flex: 1 1;
  position: relative;
  z-index: 1000;
}

#game-box-start {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  top: 40px;

  background-color: $white;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier( 0.71, 0.07, 0.68, 0.53 );
}

#game-box-start.level-1 {
  background-color: $primary;
  animation: boxIn 1s ease-in;
}

#game-box-level-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 450px;
  right: 0;
  top: 40px;
  
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier( 0.71, 0.07, 0.68, 0.53 );
  animation: boxIn 1s ease-in;
}

#game-box-level-1:hover {
  background-color: $primary;
}

#box-start-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $primary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  animation: boxIn 1s ease-in;
}

#box-start-3 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 30px;
  right: 0px;
  top: 40px;

  background-color: $secondary;
  opacity: 60%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: translate(-30px, 30px);
  animation: box3In 1s ease-in;
}

@keyframes box3In {
  from {
    filter: blur(14px);
    transform: translate(0px, 0px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    transform: translate(-30px, 30px) scale(115%);
    opacity: 60%;
  }
}
@keyframes box3InPreview {
  from {
    filter: blur(14px);
    transform: translate(0px, 0px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    transform: translate(-30px, 30px) scale(115%);
    opacity: 60%;
  }
}

#box-start-4 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $primary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(115%);
  opacity: 40%;
  animation: box4In 1s ease-in;
}

@keyframes box4In {
  from {
    filter: blur(14px);
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    transform: scale(115%);
    opacity: 40%;
  }
}

#box-start-5 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
}

#game-box-level-2,
#game-box-level-3 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  animation: boxIn 250ms ease-in;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-box-level-2:hover {
  transform: scale(110%);
  background-color: $primary;
}

#box-start-6 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 20%;
  animation: boxIn20 650ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#box-start-7 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(85%);
  border-radius: 65px;
  opacity: 40%;
  animation: boxLevel3In7 650ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#box-start-8 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(65%);
  border-radius: 85px;
  opacity: 40%;
  animation: boxLevel3In8 650ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#box-start-9 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(45%);
  border-radius: 50%;
  opacity: 60%;
  animation: boxLevel3In9 650ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes boxLevel3In7 {
  from {
    border-radius: 14px;
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    border-radius: 65px;
    transform: scale(85%);
    opacity: 40%;
  }
}
@keyframes boxLevel3In8 {
  from {
    border-radius: 14px;
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    border-radius: 85px;
    transform: scale(65%);
    opacity: 60%;
  }
}
@keyframes boxLevel3In9 {
  from {
    border-radius: 14px;
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    border-radius: 50%;
    transform: scale(45%);
    opacity: 60%;
  }
}


#game-box-level-3:hover {
  transform: scale(110%);
  background-color: $primary;
}

#game-box-level-3:active {
  border-radius: 50%;
  transform: scale(85%);
}

#box-start-10 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 40%;
  animation: boxIn40 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#box-start-11 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(85%) rotate(60deg);
  opacity: 40%;
  animation: box11In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes box11In {
  from {
    transform: scale(100%) rotate(0deg);
    opacity: 0%;
    filter: blur(14px);
  }
  to {
    transform: scale(85%) rotate(60deg);
    opacity: 40%;
    filter: blur(0px);
  }
}

#box-start-12 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(65%) rotate(200deg);
  opacity: 40%;
  animation: box12In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes box12In {
  from {
    transform: scale(100%) rotate(0deg);
    opacity: 0%;
    filter: blur(14px);
  }
  to {
    transform: scale(65%) rotate(200deg);
    opacity: 40%;
    filter: blur(0px);
  }
}

#box-start-13 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(40%);
  opacity: 40%;
  animation: box13In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes box13In {
  from {
    transform: scale(100%) rotate(0deg);
    opacity: 0%;
    filter: blur(14px);
  }
  to {
    transform: scale(40%) rotate(360deg);
    opacity: 40%;
    filter: blur(0px);
  }
}

#game-box-level-4 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-box-level-4:hover {
  transform: rotate(180deg) scale(40%);
}


#circle-start-1 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  right: 0px;
  top: 40px;
  border: 39px solid #03DAC6;
  opacity: 40%;
  transform: translateY(160px);
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  animation: circle1In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#circle-start-2 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  right: 0px;
  top: 40px;
  transform: translateY(80px);
  border: 39px solid #03DAC6;
  opacity: 60%;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  animation: circle2In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#circle-start-3 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  right: 0px;
  top: 40px;
  transform: translateY(0px);
  border: 39px solid #03DAC6;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  animation: circle3In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes circle1In {
  from {
    opacity: 100%;
    filter: blur(14px);
  }
  to {
    opacity: 40%;
    filter: blur(0px);
  }
}
@keyframes circle2In {
  from {
    transform: translateY(160px);
    opacity: 100%;
    filter: blur(14px);
  }
  to {
    transform: translateY(80px);
    opacity: 40%;
    filter: blur(0px);
  }
}
@keyframes circle3In {
  from {
    transform: translateY(160px);
    opacity: 100%;
    filter: blur(14px);
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
    filter: blur(0px);
  }
}

#game-circle-level-5 {
  box-sizing: border-box;
  border-radius: 150px;
  position: absolute;
  width: 240px;
  height: 240px;
  right: 0px;
  top: 200px;
  opacity: 100%;
  border: 39px solid #03DAC6;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  transition: transform 550ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-circle-level-5:hover {
  transform: translateY(-150px);
}


#button-start-1,
#button-start-2,
#button-start-3,
#button-start-4,
#button-level-6 {
  font-size: $h4;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 15;
  display: inline-block;
  margin: 10px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: $background;
  border: 2px solid $white;
  border-radius: 4px;
  background: $white;
  font-weight: $semi-bold;
  cursor: pointer;
}

#button-start-2,
#button-start-3 {
  right: 200px;
  border: 2px solid $secondary;
  box-shadow: 0px 0px 26px $primary;
}

#button-level-6,
#button-level-7 {
  transition: all 0.5s ease-in-out;
}

#button-level-6:hover {
  border: 2px solid $secondary;
  background-color: $white;
  color: $background;
  box-shadow: 0px 0px 26px $primary;
}

#button-start-4 {
  border: 2px solid $secondary;
  background-color: $secondary;
  transform: scale(110%);
  box-shadow: 0px 0px 26px $primary;
}

#button-level-7:hover {
  border: 2px solid $secondary;
  background-color: $secondary;
  color: $background;
  box-shadow: 0px 0px 26px $primary;
  transform: scale(110%);
}

#box-start-15,
#box-start-16,
#box-start-17,
#game-box-level-8 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 60%;
  animation: boxIn60 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#box-start-16 {
  background-color: $primary;
  opacity: 80%;
  transform: translate(-30px, 30px);
  z-index: 500;
  animation: boxIn80 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#game-box-level-8 {
  opacity: 100%;
  animation: pinkToBlue 2s ease-in-out infinite alternate;
}

#box-start-17 {
  transform: translate(-60px, 60px);
}

@keyframes pinkToBlue {
  from {
    background-color: $secondary;
  }
  to {
    background-color: $primary;
  }
}

#level-9-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  box-sizing: border-box;
  overflow: visible;
  top: 0;
  right: 0;
  margin-top: 75px;
}


.level-9-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  box-sizing: border-box;
  overflow: visible;
  top: 0;
  bottom: 100px;
  transform: scale(80%);
  right: 0;
  left: 0;
  margin: auto;
}

.preview-circle-level-9 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 100%;
  z-index: 50;
  transform: scale(80%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  animation: circleLoop 6s linear infinite;
}



#circle-start-4,
.outer-circle-preview {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid $secondary;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 90%;
}


#circle-start-5 { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 50px;
  right: 25px;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#circle-start-6 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 68px;
  right: 12px;
  opacity: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#circle-start-7 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 89px;
  right: 0px;
  opacity: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#circle-start-8 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 111px;
  right: -10px;
  opacity: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#game-circle-level-9 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  animation: circleLoop 6s linear infinite;
}

@keyframes circleLoop {
  from {
    transform: rotate(0deg) translate(-195px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-195px) rotate(-360deg);
  }
}

#level-10-wrapper {
  width: 300px;
  height: 400px;
  position: absolute;
  box-sizing: border-box;
  overflow: visible;
  top: 0;
  right: 0;
  margin-top: 50px;
}

#circle-start-9,
.preview-circle-9 { 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $secondary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
#circle-start-10,
.preview-circle-10 { 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 50%;
  transform: scale(160%);
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#circle-start-11 { 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 30%;
  transform: scale(210%);
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#circle-start-12 { 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 20%;
  transform: scale(250%);
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#game-circle-level-10,
.preview-circle-level-10 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 0;
  animation: circlePulse 4s infinite cubic-bezier(0.86, 0.12, 0.55, 0.96);
}

#circle-start-13,
.preview-circle-13 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 0;
  animation: circlePulse 4s infinite cubic-bezier(0.86, 0.12, 0.55, 0.96) -1s;
}
#circle-start-14,
.preview-circle-14 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 0;
  animation: circlePulse 4s infinite cubic-bezier(0.86, 0.12, 0.55, 0.96) -2s;
}
#circle-start-15,
.preview-circle-15 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 0;
  animation: circlePulse 4s infinite cubic-bezier(0.86, 0.12, 0.55, 0.96) -3s;
}

.preview-circle-15,
.preview-circle-14,
.preview-circle-13,
.preview-circle-9,
.preview-circle-level-10 {
  width: 175px;
  height: 175px;
}

@keyframes circlePulse {
  from {
    transform: scale(50%);
    opacity: 50%;
  }
  to {
    transform: scale(250%);
    opacity: 0%;
  }
}



#game-box-level-4 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  top: 40px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#game-box-level-4:hover {
  transform: rotate(180deg) scale(40%);
}






@keyframes boxIn {
  from {
    filter: blur(14px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    opacity: 100%;
  }
}
@keyframes boxIn40 {
  from {
    filter: blur(14px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    opacity: 40%;
  }
}
@keyframes boxIn20 {
  from {
    filter: blur(14px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    opacity: 20%;
  }
}
@keyframes boxIn60 {
  from {
    filter: blur(14px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    opacity: 60%;
  }
}
@keyframes boxIn80 {
  from {
    filter: blur(14px);
    opacity: 0%;
  }
  to {
    filter: blur(0px);
    opacity: 80%;
  }
}


#level-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 38px;
  background: #181818;
  border-radius: 7px;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

#level-number-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 38px;
  background: #00605D;
  border-radius: 7px;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

h3 > code {
  font-family: "Source Code Pro", monospace;
  color: #03DAC6;
  background-color: rgba(19, 18, 19, 0.7450980392);
  border-radius: 4px;
  margin: 4px 0 4px 0;
  padding: 4px 8px 4px 8px;
  font-size: inherit;
}

#level-title {
  text-align: right;
  line-break: strict;
  width: 85%;
  font-size: 30px;
}

#preview-levels {
  min-height: 400px;
  position: relative;
  grid-column: 1 / span 12;
  grid-template-rows: auto 1fr;
  background-color: #201F1E;
  z-index: 405;
}

#preview-animation-levels {
  min-height: 600px;
  position: relative;
  grid-column: 1 / span 12;
  grid-template-rows: auto 1fr;
  background-color: #131213;
  z-index: 405;
}

.col-1-50, .col-2-50 {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
}

.preview-header {
  grid-column: 4 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 2rem 0;
  text-align: center;
}

.content-preview {
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preview-level-title {
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  grid-row: 2 / span 1;
  gap: 0.75rem;
  text-align: center;
}
.preview-title {
  font-size: $h5;
}

.col-1, .col-2, .col-3, .col-4 {
  position: relative;
  flex: 0 1 250px;
  margin: 0.5rem;
  min-height: 400px;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

.box-start-2-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  transform: scale(115%);
  background-color: $primary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 40%;
}

.box-start-3-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 20px;
  top: 45px;

  background-color: $secondary;
  opacity: 60%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: translate(-30px, 30px) scale(115%);
  animation: box3In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.box-start-4-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $primary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(115%);
  opacity: 40%;
  animation: box40In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.box-start-5-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  opacity: 60%;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  animation: boxIn60 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.box-start-6-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 40%;
  animation: boxIn40 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.box-start-7-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;

  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(85%);
  border-radius: 65px;
  opacity: 40%;
  animation: boxLevel3In7 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.box-start-8-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(65%);
  border-radius: 80px;
  opacity: 40%;
  animation: boxIn40 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.box-start-9-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(45%);
  border-radius: 50%;
  opacity: 60%;
  animation: boxIn60 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.box-start-10-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  opacity: 40%;
  animation: boxIn40 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.box-start-11-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(85%) rotate(60deg);
  opacity: 40%;
  animation: box11In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.box-start-12-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(65%) rotate(200deg);
  opacity: 40%;
  animation: box12In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.box-start-13-preview {
  position: absolute;
  width: 175px;
  height: 175px;
  right: 35px;
  top: 55px;
  background-color: $secondary;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  box-sizing: border-box;
  transform: scale(40%);
  opacity: 40%;
  animation: box13In 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}