// 00: button styling and transition
.levels-button-hover {
  color: $white;
  border: 1px solid $white;
  background-color: none;
  box-shadow: 0px 0px 0px $primary;
  transition: background-color 1s, color .5s, box-shadow 1s, border 1s;
}

.levels-button-hover:hover {
  background-color: $primary;
  color: $background;
  box-shadow: 0px 0px 10px $primary;
  border: 1px solid $primary;
}

// 01: grow and shrink
.levels-button-grow {
  padding: 5px 10px 5px 10px;
  transition: padding 250ms ease-in;
}

.levels-button-grow:hover {
  padding: 8px 13px 8px 13px;
}

#input-container {
  display: flex;
}

// 02: transitions for input level
.code-input.input-level ,#todo-input.input-level {
  background-color: #dadada54;
  border: 2px solid $transparent;
  border-radius: 4px;
  padding-left: 10px;
  transition: background-color 0.5s ease-in-out;
}

.code-input.input-level:hover, 
#todo-input.input-level:focus{
  background-color: #dadadaad;
  border: 2px solid $primary;
  transition: border 0.5s ease-in;
}

#input-container:focus-within {
  background-color: #dadadaad;
  border: 2px solid $secondary;
  transition: border 0.5s ease-in;
}


// 03 rise up
.rise-up-level {
  will-change: transform;
  transition: transform 450ms;
}
  
.rise-up-level:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

// 04 header
header.slide-in-level {
  animation: slideIn 500ms ease-in-out;
  // animation-duration: 3s;
  // animation-name: fadeIn;
}
@keyframes slideIn {
  0% {
    margin-left: -50rem;
    opacity: 0%;
    filter: blur(1.5rem);
  }
  100% { 
    margin-left: 0rem;
    opacity: 100%;
    filter: blur(0);
  }
}


/////////////////

.level-section {
  min-height: 400px;
}

.foreground-box {
  border-radius: 1rem;
  // position: absolute;
  border: 1px solid $white;
  height: 250px;
  width: 250px;
  box-shadow: 0 20px 35px rgba(0,0,0,0.5);
  background-color: $transparent;
  overflow: hidden;
}

.foreground-box::before {
  content: "";
  height: 150%;
  width: 150%;
  border: none;
  left: -25%;
  bottom: -25%;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
}

.levelSection .span-2-5-col {
  padding-top: 40px;
  grid-column: 2 / span 5;
}

.success-message {
  margin: 0 auto;
  text-align: end;
}

// textare and input


input {
  border: 2px solid $transparent;
}
input:focus {
  border: 2px solid $secondary;
}
#todo-input:hover {
  border: 2px solid $primary;
}

// defauly styling for inputs
.code-input, #todo-input {
  background-color: #dadada54;
  border: 2px solid $transparent;
  border-radius: 4px;
  padding-left: 10px;
}

.code-input:hover {
  background-color: #dadadaad;
  border: 2px solid $primary;
}

.slideIn {
  animation: slideInInterface 1.2s ease-out;
  // -webkit-animation: slideIn 1.2s forwards;
  visibility: visible;
}
.slideOut {
  animation: slideOutInterface 1.2s ease-out;
  // -webkit-animation: slideIn 1.2s forwards;
  visibility: hidden;
}

.todoFadeUp {
  animation: todoFadeUp 800ms ease-out;
}

@keyframes todoFadeUp {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideInInterface {
  0% {
    transform: translateX(-200px);
    opacity: 0%;
    filter: blur(20px);
    visibility: visible;
  }
  100% { 
    transform: translateX(0px);
    opacity: 100%;
    filter: blur(0);
    visibility: visible;
  }
}

@keyframes slideOutInterface {
  0% { 
    transform: translateX(0px);
    opacity: 100%;
    filter: blur(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0%;
    filter: blur(20px);
    visibility: visible;
  }
}

@keyframes todoSlideIn {
  0% {
    width: 0%;
    opacity: 0%;
    filter: blur(1.5rem);
  }
  100% { 
    width: 100%;
    opacity: 100%;
    filter: blur(0);
  }
}

@keyframes smoothFade {
  0% {
    opacity: 0%;
  }
  100% { 
    opacity: 100%;
  }
}

.todoSlideIn {
  animation: todoSlideIn 400ms ease-in-out;
}

#todo-input {
  animation: smoothFade 500ms ease-out;
}

